
{{#if result.length}}
<table>
  <caption>
    tickets list
  </caption>
  <thead>
    <tr>
      <td>id</td>
      <td>userId</td>
      <td>name</td>
      <td>priority</td>
      <td>createdAt</td>
    </tr>
  </thead>

<tbody>
{{#each result}}
  <tr>
    <td>{{_id}}</td>
    <td>{{userId}}</td>
    <td>{{name}}</td>
    <td>{{priority}}</td>
    <td>{{createdAt}}</td>
  </tr>
{{/each}}
</tbody>
</table>

{{else}}
<p>Haven't find tickets for this request</p>>
{{/if}}
